@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    }

    body {
        font-family: 'Be Vietnam Pro', sans-serif;
        background-color: #f8f6f5;
        color: #2e2f2f;
    }

    h1, h2, h3, .font-headline {
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
}

@layer components {
    .tactile-button-primary {
        box-shadow: 0 4px 0 0 #296700;
    }

    .tactile-button-primary:active {
        transform: translateY(2px);
        box-shadow: 0 2px 0 0 #296700;
    }

    .tactile-card {
        box-shadow: 0 4px 0 0 rgba(174, 173, 172, 0.4);
    }

    .bento-inner-shadow {
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    }
}
